*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .card{
    max-width: 400px;
    margin:40px auto ;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%; 
    box-shadow:20px 20px #000;
  }
  .card .container{
    max-width: 80%;
    margin: auto;
  }
  .container .svg{
    padding: 20px 0 10px 0;
  }
  .container .svg svg{
    width: 100%;
    border-radius: 5%;
  }
  .button{
    border-radius: 5%;
  }
  button{
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 7%);
  }
  .year{
    font-weight: 600;
    font-size: 16px;
  }
  .title{
    font-weight: 800;
    font-size:18px;
    color: #f4d04e;
    padding: 10px 0;
  }
  .detail{
    font-size: 16px;
    font-weight: 200;
    color: hsl(0, 0%, 50%);
  }
  .last{
    display: flex;
    padding: 20px 0;
  }
  .name{
    padding-top: 15px;
    padding-left: 5px;
    text-align: center;
    font-weight: 800;
  }